<main>
  <form class='task-form' action='/{{#if editing}}edit-task{{else}}add-task{{/if}}' method='POST'>

    <div class='form-control'>
      <label for='title'>Title</label>
      <input type='text' name='title' id='title' value='{{#if editing}}{{task.title}}{{/if}}'>
    </div>
    <div class='form-control'>
      <label for='description'>Description</label>
      <textarea name="description" id="description" rows="5">{{#if editing}}{{task.description}}{{/if}}</textarea>
    </div>
    <div class='form-control'>
      <select name="priority">
        <option  value="-1">choose a priority</option>
        <option {{#if priority.low}} selected {{/if}} value="low">low</option>
        <option {{#if priority.medium}} selected {{/if}} value="medium">medium</option>
        <option {{#if priority.high}} selected {{/if}} value="high">high</option>

      </select>
    </div>
    {{#if editing}}
      <input type='hidden' value='{{task.id}}' name='taskId'>
    {{/if}}
    <button class='btn' type='submit'>{{#if editing}}Update Task {{else}}Add Task{{/if}}</button>
  </form>
</main>
